        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body{
            margin: 0;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, Courier, monospace;
            color: white;
            line-height: 1.6;
        }

/*Navigation Bar*/
        .header-content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0d9488;
        }

        .logo {
            font-size: 32px;
            font-weight: bold;
            color: black;
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 30px;
            flex-wrap: wrap;
        }

        nav a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
        }

        nav a:hover {
            color: skyblue;
        }

                header {
            background: linear-gradient(135deg, green 0%, #2d2d2d 100%);
            border-bottom: 4px solid black;
            padding: 20px 0;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
